Nama : Ghilman Farhani Putra Aji

NIM : 20110006

## re.search()

In [1]:
import re
import pandas as pd
from faker import Faker

text= "saya adalah seorang pemula"
x=re.search("saya",text)
print(x.group())

saya

In [2]:
text="Halo, nama saya Edward"

patterns=["nama","Edward","Halo"]
for pattern in patterns:
    match = re.match(pattern,text)
    if match:
        print("pola ditemukan di awal string. >>>", match)
    else:
        print("pola tidak ditemukan di awal string. >>>", match)

pola tidak ditemukan di awal string. >>> None
pola tidak ditemukan di awal string. >>> None
pola ditemukan di awal string. >>> <re.Match object; span=(0, 4), match='Halo'>

## re.findall()

In [3]:
text="Halo, nomer saya 081234567890 dan nomer dia adalah 0821345678901"
pattern = r'\d{12,13}'
matches = re.findall(pattern, text)

print(matches)

['081234567890', '0821345678901']

## re.sub()

In [4]:
text = "Halo, nama saya Rey. Saya adalah seorang pemula."
pattern = "Rey"
replacement = "Don"

new_text = re.sub(pattern, replacement, text)

print(new_text)

Halo, nama saya Don. Saya adalah seorang pemula.

## data dummy with faker

In [5]:
fake = Faker()
jumlah_data = 10
dummy_data = []

for _ in range(jumlah_data):
    nama = fake.name()
    nomor_telepon = fake.phone_number()
    alamat = fake.address()
    email = fake.email()
    
    data = f"Nama: {nama}\nNomor Telepon: {nomor_telepon}\nAlamat: {alamat}\nEmail: {email}\n"
    dummy_data.append(data)

nama_file = "dummy_data.txt"
with open(nama_file, "w") as file:
    for data in dummy_data:
        file.write(data + "\n")

print("berhasil membuat data dummy sebanyak",jumlah_data,"data dan disimpan kedalam",nama_file)

berhasil membuat data dummy sebanyak 10 data dan disimpan kedalam dummy_data.txt

In [6]:
print(data)

Nama: William Craig
Nomor Telepon: 001-891-455-4676
Alamat: 7555 Spence Plains
North Stephen, FL 16511
Email: grosslinda@example.net

In [7]:
pattern=r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z.]+"

with open("dummy_data.txt", "r") as file:
    data = file.readlines()

emails = []

for line in data:
    match = re.search(pattern, line)
    if match:
        emails.append(match.group())
print(emails)

['nathanielmorris@example.net', 'xhughes@example.com', 'benjaminshannon@example.net', 'castromargaret@example.org', 'browndonna@example.com', 'vallen@example.com', 'jamesprince@example.net', 'debbieshaw@example.org', 'michaelnolan@example.com', 'grosslinda@example.net']

In [8]:
with open("dummy_data.txt", "r") as file:
    text = file.readlines()
    text = "".join(text)

pola_nomor_telepon = r'Nomor Telepon:\s+([\d+()-]+)'
nomor_telepon = re.findall(pola_nomor_telepon, text)

nomor = []
for nom in nomor_telepon:
    # Substituting multiple spaces with single space
    nom = re.sub(r'\s+', '', nom, flags=re.I)
    
    # Menghilangkan karakter spesial
    nom = re.sub(r'\W', '', nom)
    nomor.append(nom)
    
# Output data Preprocessing
nomor

['3753300821',
 '2525264224',
 '9922796870',
 '6627349278',
 '7938818996',
 '4694159221',
 '5776513023',
 '13222598375',
 '13775380356',
 '0018914554676']

In [9]:
pd.DataFrame({"email": emails, "nomor_telepon": nomor})

                         email  nomor_telepon
0  nathanielmorris@example.net     3753300821
1          xhughes@example.com     2525264224
2  benjaminshannon@example.net     9922796870
3   castromargaret@example.org     6627349278
4       browndonna@example.com     7938818996
5           vallen@example.com     4694159221
6      jamesprince@example.net     5776513023
7       debbieshaw@example.org    13222598375
8     michaelnolan@example.com    13775380356
9       grosslinda@example.net  0018914554676